torch
trafilatura
tokenizers==0.19.1
transformers==4.43.4
torchvision>=0.19.0
matplotlib
scipy
pyarrow>=17.0.0
pillow>=10.4.0
flash-attn>=2.6.3
huggingface-hub==0.24.7
gradio
peft
trl
numpy==1.26.4
blis==0.7.11
spacy==3.7.5
thinc==8.2.5
opencv-python
pandas
torchvision
torchaudio
sentencepiece
einops
accelerate
bitsandbytes
autocorrect>=2.6.1
tqdm
click
datasets
setuptools
diffusers>=0.30.3
fasttext>=0.9.3
json_repair>=0.30.0
pathlib>=1.0.1
protobuf>=5.28.2
pyspellchecker>=0.8.1
selenium>=4.25.0
timm>=1.0.11
wget
Whoosh
wn>=0.9.5
liger-kernel
SoundFile
munch
pydub
pyyaml
librosa
ray
nltk
einops-exts
typing
typing-extensions
git+https://github.com/resemble-ai/monotonic_align.git
mosaicml
omegaconf
addict
decord
faker
ctranslate2
langid
multilingual-clip
git+https://github.com/openai/CLIP.git
python-xz
