huggingface_hub
datasets
transformers
peft
accelerate
tqdm
trl
FlagEmbedding
datamodel_code_generator
sentencepiece
spacy
autocorrect
bitsandbytes
whoosh
fastembed
trafilatura
flash-attn
tiktoken
einops
triton
duckduckgo_search
json_repair
fasttext
scispacy
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
wn
langid